@import url('https://fonts.googleapis.com/css?family=Russo+One');

body {
  font-family: Russo One;
  background-color: #f4f4f4;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#drum-machine {
  background-color: #333;
  border: 5px solid #555;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

#drum-machine .inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#drum-machine .pad-bank {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 15px;
  margin-bottom: 20px;
}

#drum-machine .pad-bank .drum-pad {
  width: 100px;
  height: 100px;
  background-color: #ff4500;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#drum-machine .pad-bank .drum-pad:hover {
  background-color: #ffa07a;
}

#drum-machine .controls-container {
  width: 100%;
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#drum-machine .controls-container #display {
  background-color: #666;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 650px) {
  #drum-machine {
    width: 80%;
  }
}
